body {
    padding-left:11em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #58ACFA;
    background-color: #333333 
    }
ul.navbar
{
    list-style-type: none;
    margin:0;
    padding:0;
    position:absolute;
    top: 2em;
    left: 1em;
    width: 9em
    
}

ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
    
  ul.navbar a {
    text-decoration: none }
    
  a:link {
    color: blue }
  a:visited {
    color: purple }

li
{

}