@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

.content {
  max-width: 60px;
  margin: auto;
}

body {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

h1 {
  color:#222;
  line-height:1.1;
}

h2, h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
}

strong {
  color:#222;
  font-weight:700;
}

section {
  width:500px;
}

@media print, screen and (max-width: 960px) {
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
  }
  
  header ul {
    right:50px;
    top:52px;
  }
}
